html, body {
    margin:0;
    padding:0;
}

.navLinks {
    background: none;
    padding: 10px;
    position:fixed;
    top:0px;
    width: 95%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-family: fantasy;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    color:aliceblue;
  
}
  a::first-letter {
    font-size: 2rem;
  }

  header {
    background: url(space-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center; 
  }

  section {
    background: url(space-background2.jpg) no-repeat center;
    background-size: cover;
    height: 20vh;
    display: flex;
    align-items: space-around;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  footer {
    background: peachpuff;
    z-index: 1;
    bottom: 50px;
    height:fit-content;
    width: fit-content;

  }
