html, body {
    margin:0;
    padding:0;
}

.navLinks {
    background: none;
    padding: 10px;
    position:fixed;
    top:0px;
    width: 95%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-family: fantasy;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color:aliceblue;
}

a::first-letter {
    font-size: 2rem;
}

header {
    background: url(space-image1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center; 
}

section {
    display: flex;
    color:aliceblue;
    font-family: monospace;
    flex-wrap: wrap;
    flex-direction: column;
    height: 400px;

}

.S1 {
    background: url(space-image2.jpg) no-repeat center;
    background-size: cover;
}

.S2 {
    background: url(space-image3.jpg) no-repeat center;
    background-size: cover;
}

.S3 {
    background: url(space-image1.jpg) no-repeat center;
    background-size: cover;
}

.S4 {
    background: url(space-image2.jpg) no-repeat center;
    background-size: cover;
}

.S5 {
    background: url(space-image3.jpg) no-repeat center;
    background-size: cover;
}

h2 {
    border: 2px solid white;
    padding: 30px;
    width:fit-content;
    height:fit-content;
    margin: 15px;
}

.text {
    margin: 25px;
    width: 500px;
}

footer {
    background: transparent;
    position:relative;
    color:aliceblue;
}

#logo {
    position:absolute;
    bottom: 1px;
    right: 2px;
}

