html, body {
    margin:0;
    padding:0;
}

.navLinks {
    background: none;
    padding: 10px;
    position:fixed;
    top:0px;
    width: 95%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-family: fantasy;
    text-wrap: balance;
}

a {
    text-decoration: none;
    font-size: 1rem;
    color:aliceblue;
}

a::first-letter {
    font-size: 2rem;
}

header {
    background: url(space-image1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center; 
}

section {
    display: flex;
    align-items: space-around;
    color:aliceblue;
    font-family: monospace;
    height: 100vh
}

.S1 {
    background: url(space-image2.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}

.S2 {
    background: url(space-image3.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}

.S3 {
    background: url(space-image1.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}

.S4 {
    background: url(space-image2.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}

.S5 {
    background: url(space-image3.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}

footer {
    background: peachpuff;
    z-index: 1;
    bottom: 50px;
    height:fit-content;
    width: fit-content;
}
